<section class="contacto">
  <form>
    <h1>Contáctanos</h1>
    <label>Nombre</label>
    <input name="name" placeholder="Jorge Perez" type="text">
    <label>Email</label>
    <input name="email" placeholder="ejemplo@gmail.com" type="text">
    <label>Número</label>
    <input name="contact" placeholder="123456789" type="text">
    <label>Sitio Web</label>
    <input name="website" placeholder="www.tusitio.com" type="text">
    <label>Mensaje</label>
    <textarea placeholder="Mensaje"></textarea>
    <input type="submit" value="Enviar">
  </form>
</section>